:root {
    --disp-font: 'Segoe UI', 'Segoe UI Variable Text';
    --japn-font: 'Meiryo UI', 'Meiryo';
    --code-font: 'Cascadia Code', 'Cascadia Mono';

    --HSL-server-icon-size: 32px;
    --HSL-server-spacing  : 6px;

    --titlebar-height      : 32px;
    --titlebar-button-width: 46px;

    --sidebar-width: 200px;
    --header-height: 40px;

    --accentcolor:  0,127,0;     /* blurple   -    default: 88,101,242   */
    --accentcolor2: 255,115,250; /* boostpink -    default: 255,115,250  */
    --linkcolor   : 0,176,244;   /* link      -    default: 0,176,244    */

    --settingsmodalbackground: transparent; /* default: transparent (lowest bg color of changed windows, change it in case another theme turns them transparent) */
    --settingsmodalwidth     : 70vw;        /* default: 960px       (width of the settings modal, px/vw)                                                         */
    --settingsmodalheight    : 80vh;        /* default: 80vh        (height of the settings modal, px/vh)                                                        */

    --icon-radius     : 6px;
    --icon-border-size: 6px;
    --icon-gradient   : linear-gradient(180deg, var(--background-floating), 80%, #00FF00);
    
    --badge-size: 22px; /*discord defualt = 18px, theme defualt = 22px;*/
    --badge-margin: 1.5px; /*discord default = 2px, theme defualt = 1.5px*/
    --badges-everywhere-size: 15px; /*default = 15px*/
}
