.messagesPopoutWrap-3zryHW {
    max-height: calc(100vh - 115px) !important;
}

#app-mount .layer-86YKbF~.layer-86YKbF .header-2Kx1US {
    max-width: unset !important;
}

#app-mount .layer-86YKbF~.layer-86YKbF {
    min-width: 960px !important;
}